# Evidencia de Tests Automáticos

A continuación se muestran las capturas de la ejecución de los tests:

![Ejecución de tests 1](./tests/test-run-1.png)
![Ejecución de tests 2](./tests/test-run-2.png)
