# Evidencia de Tests Automáticos

A continuación se muestran las capturas de la ejecución de los tests:<br><br>

Test de automatizacion realizado con Jest:<br>
![Ejecución de tests 1](./tests/test-run-1.png)
<br><br>
Test unitario realizado con Vitest:<br>
![Ejecución de tests 2](./tests/test-run-2.png)
